! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
!*background: #282828
 soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

! -----------------------------------------------------------------------------
! File: Apprentice colour scheme
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------


! Apprentice colorscheme
! special
! *.foreground:   #bcbcbc
! *.background:   #262626
! *.cursorColor:  #bcbcbc

! black
! *.color0:       #1c1c1c
! *.color8:       #444444

! red
! *.color1:       #af5f5f
! *.color9:       #ff8700

! green
! *.color2:       #5f875f
! *.color10:      #87af87

! yellow
! *.color3:       #87875f
! *.color11:      #ffffaf

! blue
! *.color4:       #5f87af
! *.color12:      #8fafd7

! magenta
! *.color5:       #5f5f87
! *.color13:      #8787af

! cyan
! *.color6:       #5f8787
! *.color14:      #5fafaf

! white
! *.color7:       #6c6c6c
! *.color15:      #ffffff

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

! #define nord1 #3B4252
! #define nord2 #434C5E
! #define nord3 #4C566A
! #define nord4 #D8DEE9
! #define nord5 #E5E9F0
! #define nord6 #ECEFF4
! #define nord7 #8FBCBB
! #define nord8 #88C0D0
! #define nord9 #81A1C1
! #define nord10 #5E81AC
! #define nord11 #BF616A
! #define nord12 #D08770
! #define nord13 #EBCB8B
! #define nord14 #A3BE8C
! #define nord15 #B48EAD

*.foreground:   #D8DEE9
*.background:   #2E3440
*.cursorColor:  #D8DEE9
*fading: 35
*fadeColor: #4C566A

*.color0: #3B4252
*.color1: #BF616A
*.color2: #A3BE8C
*.color3: #EBCB8B
*.color4: #81A1C1
*.color5: #B48EAD
*.color6: #88C0D0
*.color7: #E5E9F0
*.color8: #4C566A
*.color9: #BF616A
*.color10: #A3BE8C
*.color11: #EBCB8B
*.color12: #81A1C1
*.color13: #B48EAD
*.color14: #8FBCBB
*.color15: #ECEFF4




! X colors.
! Generated by 'wal'
! *foreground:        #a89984
! *background:        #282828
! *.foreground:       #a89984
! *.background:       #282828
! emacs*foreground:   #a89984
! emacs*background:   #282828
! URxvt*foreground:   #a89984
! XTerm*foreground:   #a89984
! UXTerm*foreground:  #a89984
! URxvt*background:   [100]#282828
! XTerm*background:   #282828
! UXTerm*background:  #282828
! URxvt*cursorColor:  #a89984
! XTerm*cursorColor:  #a89984
! UXTerm*cursorColor: #a89984
! URxvt*borderColor:  [100]#282828

! Colors 0-15.
! *.color0: #0B1116
! *color0:  #0B1116
! *.color1: #53696D
! *color1:  #53696D
! *.color2: #687878
! *color2:  #687878
! *.color3: #788379
! *color3:  #788379
! *.color4: #8F8C79
! *color4:  #8F8C79
! *.color5: #CBA178
! *color5:  #CBA178
! *.color6: #6C8A8E
! *color6:  #6C8A8E
! *.color7: #c8c7bd
! *color7:  #c8c7bd
! *.color8: #8c8b84
! *color8:  #8c8b84
! *.color9: #53696D
! *color9:  #53696D
! *.color10: #687878
! *color10:  #687878
! *.color11: #788379
! *color11:  #788379
! *.color12: #8F8C79
! *color12:  #8F8C79
! *.color13: #CBA178
! *color13:  #CBA178
! *.color14: #6C8A8E
! *color14:  #6C8A8E
! *.color15: #c8c7bd
! *color15:  #c8c7bd

! Black color that will not be affected by bold highlighting.
*.color66: #0B1116
*color66:  #0B1116

! Xclock colors.
XClock*foreground: #c8c7bd
XClock*background: #0B1116
XClock*majorColor:  rgba:c8/c7/bd/ff
XClock*minorColor:  rgba:c8/c7/bd/ff
XClock*hourColor:   rgba:c8/c7/bd/ff
XClock*minuteColor: rgba:c8/c7/bd/ff
XClock*secondColor: rgba:c8/c7/bd/ff

! Set depth to make transparency work.
URxvt*depth: 32

